body,
html {
  width: 100%;
  height: 100%;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  /*   background-image: url('./../../images/Captura\ de\ ecrã\ 2020-04-06\,\ às\ 19.55.27.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 200px; */

  .author-image {
    border-radius: 60px;
    height: 200px;
    width: 200px;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}
